@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Playfair+Display:wght@600&family=Quicksand:wght@300&display=swap');
body{
    margin:  0;
    font-family: 'Open Sans', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Quicksand', sans-serif;
    color: rgb(207, 207, 207);
    background-repeat: space;
    background-size: 100%;
}

.text{
    display:flex;
    flex-flow: row-reverse wrap-reverse;
    align-items: center;
    margin-top: 10px; 
    margin-right: 100px ;
}

ul{
    display: flex;
}

li{
    list-style: none;
    text-decoration:none;
    margin-left: 40px;
    margin-right: 100px ;
    font-size: 50px;
    
}

body{
    background-image: url(img/image1.png);
}


header {
    background-color: #000000a4;
    width: 100%;
}

.headerInner{
    display: flex;
    justify-content: space-between;
}
a {
    color: rgb(206, 206, 206);
    
    text-decoration: none; /* Скрываем подчёркивание */
   }


footer{
    margin-top: 940px;
    background-color: #444444;
}



input {
    margin: 1.5em;
    padding: 1em;
    border-color: #4560e5;
    color: #4560e5;
}